.user-nav {
  margin-top:40px;
  width:100%;
  max-width: 1200px;
  padding: 0px 15px 0 15px;
  ul {
    text-align: right;
    li {
      display: inline-block;
      margin-right: 20px;
    }
  }
}
